@import '~sass/mixins';
@import '~@angular/material/theming';

@include mat-core();

// Typography
$custom-typography: mat-typography-config(
  $font-family: Roboto,
  $headline: mat-typography-level(24px, 48px, 400),
  $body-1: mat-typography-level(16px, 24px, 400)
);
@include angular-material-typography($custom-typography);

// Dark theme
$app-primary: mat-palette($mat-pink);
$app-accent:  mat-palette($mat-blue-grey, A200, A100, A400);
$app-warn:    mat-palette($mat-red);

$dark-theme: mat-dark-theme($app-primary, $app-accent, $app-warn);

// Light theme
$light-primary: mat-palette($mat-grey, 200, 500, 300);
$light-accent: mat-palette($mat-brown, 200);
$light-warn: mat-palette($mat-deep-orange, 200);

$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);

//@include angular-material-theme($app-theme);
//@include angular-material-theme($light-theme);

.dark-theme {
  @include angular-material-theme($dark-theme);
  @include app-theme($dark-theme);
}

.light-theme {
  @include angular-material-theme($light-theme);
  @include app-theme($light-theme);
}

