<div class="container-fluid">
  <div class="row justify-content-center">
    <picture>
      <img class="mat-elevation-z10"
           src="./assets/profile.jpg"
           title="Andrey Alfaro">
    </picture>
    <h1>Andrey Alfaro</h1>
  </div>
  <div class="row justify-content-center">
    <button mat-raised-button color="primary" (click)="getResume()" >
      <mat-icon>file_download</mat-icon>
      Resume
    </button>
  </div>
  <div class="row justify-content-center">
    Social goes here
  </div>
</div>
