// Import theming functions
@import '~@angular/material/theming';
@import "~sass/app.theme";
@import "~bootstrap/scss/bootstrap-grid";

/**
 Mixing for the timeline arrow
*/
@mixin timeline-arrow($direcction: "right") {
  content: " ";
  height: 0;
  position: absolute;
  top: 20px;
  width: 0;
  z-index: 1;
  border: medium solid mat-color($app-primary);

  @if $direcction == "right" {
    left: 25px;
    border-width: 15px 15px 15px 0;
    border-color: transparent mat-color($app-primary) transparent transparent;
  } @else {
    right: 25px;
    border-width: 15px 0 15px 15px;
    border-color: transparent transparent transparent mat-color($app-primary);
  }
}

@mixin timeline-circle($direction: "center"){
  position: absolute;
  top: 20px;
  z-index: 1;
  width: 30px;
  height: 30px;
  background-color: mat-color($app-warn);
  border: 5px solid mat-color($app-accent);;
  border-radius: 50%;

  @if $direction == "center" {
    right: -15px;
  }
  @if $direction == "right" {
    right: 0;
  }
  @if $direction == "left" {
    left: -15px;
  }
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  padding: 0;
  margin: 0 auto;

  // timeline rule
  &::after {
    content: '';
    position: absolute;
    width: 5px;
    background-color: mat-color($app-warn);
    top: 0;
    bottom: 0;
  }

  @include media-breakpoint-between(xs, sm) {
    padding-left: 40px;

    &::after {
      left: 0;
      margin-left: 37px;
    }
  }

  @include media-breakpoint-between(md, xl) {
    padding-left: 0;

    &::after {
      left: 50%;
      margin-left: -3px;
    }
  }
}

/* Container around content */
.timeline-container {
  position: relative;
  padding: 10px 40px;
  background-color: inherit;

  // timeline content
  .timeline-content {
    position: relative;
    padding: 10px;
    background-color: mat-color($app-primary);
    border: none;
    border-radius: 5px;

    h2 {
      margin: 0;
      font-size: 1.2em;
    }

    p {
      margin: 0;
    }
  }

  @include media-breakpoint-between(xs, sm) {
    &.right {
      left: 0;

      &::before { @include timeline-arrow('right'); }
    }

    &.left {
      left: 0;

      &::before { @include timeline-arrow('right'); }
    }

    /* timeline circle */
    .timeline-year { @include timeline-circle("left"); }
  }

  @include media-breakpoint-between(md, xl) {
    width: 50%;

    &.right {
      left: 0;

      &::after { @include timeline-arrow('left'); }

      /* timeline circle */
      .timeline-year { @include timeline-circle("center"); }
    }

    &.left {
      left: 0;
      margin-left: 50%;

      &::before { @include timeline-arrow('right'); }

      /* timeline circle */
      .timeline-year { @include timeline-circle("left"); }
    }
  }
}
