<section class="container-fluid">
  <div class="row">
    <div class="col">
      <h2><mat-icon>email</mat-icon>Contact</h2>
    </div>
  </div>
  <form class="col">
    <div class="row">
      <mat-form-field class="full-width">
        <input matInput placeholder="Name:" required="true">
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Email:" required="true">
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Subject:" required="true">
      </mat-form-field>

      <mat-form-field class="full-width">
        <textarea matInput placeholder="Message:" required="true"></textarea>
      </mat-form-field>
    </div>

    <div class="row justify-content-between">
      <button type="reset" mat-raised-button>
        <mat-icon>clear</mat-icon>Clear
      </button>
      <button mat-raised-button color="primary">
        <mat-icon>send</mat-icon>Send
      </button>
    </div>
  </form>
</section>
