<section class="container">
  <div class="row">
    <div class="col">
      <h1><mat-icon>email</mat-icon>Contact</h1>
      <form>
        <mat-form-field class="full-width">
          <input matInput placeholder="Name:" required="true">
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput placeholder="Email:" required="true">
        </mat-form-field>

        <mat-form-field class="full-width">
          <textarea matInput placeholder="Message:" required="true"></textarea>
        </mat-form-field>

        <div>
          <button type="reset" mat-raised-button>
            Clear <mat-icon>clear</mat-icon>
          </button>
          <button mat-raised-button color="primary">
            Send <mat-icon>send</mat-icon>
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
