mat-chip{
  display: flex !important;
  flex-direction: row;

  span{
    display: flex;
    flex: 1 1 auto;
  }


  .text, .years {
    display: flex;
    justify-content: center;
    padding: 2px 5px;
    border: 2px solid white;
    border-radius: 15px;
  }
  .years {
    flex: 0 0 60px;
  }

  .text {
    flex: 0 0 100px;
  }
}

.skills {
  .col {
    margin-bottom: 10px;
  }
}
