<mat-toolbar color="primary"
             class="primary-toolbar mat-elevation-z21">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon aria-label="Navigation Menu">menu</mat-icon>
  </button>
  <h1 class="text-center">Andrey Alfaro</h1>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon aria-label="Main Menu">more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu" role="menu" aria-label="Change theme">
    <button *ngFor="let theme of themes"
            aria-label="theme"
            mat-menu-item
            (click)="setTheme(theme)">
      {{ theme.name }}
    </button>
    <div mat-menu-item>
      <mat-slide-toggle color="primary">
        Dinamic theme
      </mat-slide-toggle>
    </div>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav
               fixedInViewport="true"
               [mode]="sidenavConfig.mode"
               [opened]="sidenavConfig.opened">
    <aa-about></aa-about>
    <mat-nav-list role="list" *ngFor="let item of menuItems">
      <a mat-list-item role="listitem" [routerLink]="item.router">
        {{ item.title }}
        <mat-icon mat-list-icon>{{ item.icon }}</mat-icon>
      </a>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
   <!-- <aa-information></aa-information>
    <aa-skills></aa-skills>
    <aa-experience></aa-experience>
    &lt;!&ndash;<aa-porfolio></aa-porfolio>&ndash;&gt;
    <aa-contact></aa-contact>-->

    <router-outlet></router-outlet>

    <aa-footer></aa-footer>
  </mat-sidenav-content>
</mat-sidenav-container>

<!--<aa-fab></aa-fab>-->

<!--
app component here
<nav>
  <a routerLink="/about">about</a>
  <a routerLink="/contact">contact</a>
  <a routerLink="/porfolio">porfolio</a>
</nav>

<router-outlet></router-outlet>
-->
