<mat-toolbar color="primary"
             class="primary-toolbar"
             [class.mat-elevation-z21]="primaryToolbarShadow">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon aria-label="Main Menu">menu</mat-icon>
  </button>
  <h1 *ngIf="primaryToolbarText">Andrey Alfaro</h1>
  <button mat-icon-button (click)="share()">
    <mat-icon aria-label="Share">share</mat-icon>
  </button>
</mat-toolbar>
<mat-toolbar color="primary" class="secondary-toolbar">
  <h1 *ngIf="!primaryToolbarText">Andrey Alfaro  picture</h1>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [opened]="true">
    <mat-list role="list" *ngFor="let item of menuItems">
      <mat-list-item role="listitem">
        {{ item.title }}
        <mat-icon mat-list-icon>{{ item.icon }}</mat-icon>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <section><aa-information></aa-information></section>
    <section><aa-porfolio></aa-porfolio></section>
    <section><aa-contact></aa-contact></section>
  </mat-sidenav-content>
</mat-sidenav-container>
