<mat-toolbar color="primary"
             class="primary-toolbar mat-elevation-z21">
  <button mat-icon-button *ngIf="isMobile"
          (click)="sidenav.toggle()">
    <mat-icon aria-label="Main Menu">menu</mat-icon>
  </button>
  <h1 [class.text-center]="isMobile">
    {{ title }}
  </h1>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav
               fixedInViewport="true"
               [mode]="sidenavConfig.mode"
               [opened]="sidenavConfig.opened">
    <mat-list role="list" *ngFor="let item of menuItems">
      <mat-list-item role="listitem">
        {{ item.title }}
        <mat-icon mat-list-icon>{{ item.icon }}</mat-icon>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <aa-information></aa-information>
    <aa-skills></aa-skills>
    <aa-experience></aa-experience>
    <aa-porfolio></aa-porfolio>
    <aa-contact></aa-contact>
    <aa-footer></aa-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
